section#footer
  ul.icons
    li
      a.icon.style2.fa-linkedin(href='https://www.linkedin.com/in/bryngo/', target='_blank')
        span.label Linkedin
    li
      a.icon.style2.fa-github(href='https://github.com/bryngo', target='_blank')
        span.label Github
    li
      a.icon.style2.fa-file(href='assets/resume.pdf', target='_blank')
        span.label Resume
    li
      a.icon.style2.fa-instagram(href='https://www.instagram.com/bryngo.jpg/', target='_blank')
        span.label Instagram
    li
      a.icon.style2.fa-twitter(href='https://twitter.com/BubblyBryan', target='_blank')
        span.label Twitter
    li
      a.icon.style2.fa-facebook(href='https://www.facebook.com/bryan.ngo.7', target='_blank')
        span.label Facebook