doctype html
//
  Future Imperfect by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title #{title} 
    | &#x9;&#x9;
    meta(charset='utf-8')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    | &#x9;&#x9;
    link(rel='stylesheet', href='css/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  | &#x9;
  body.single
    // Wrapper
    #wrapper
      // Header
      header#header
        h1
          a(href='#') Future Imperfect
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        nav.links
          ul
            li
              a(href='#') Lorem
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Ipsum
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Feugiat
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Tempus
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Adipiscing
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        nav.main
          ul
            li.search
              a.fa-search(href='#search') Search
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              form#search(method='get', action='#')
                input(type='text', name='query', placeholder='Search')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.menu
              a.fa-bars(href='#menu') Menu
      // Menu
      section#menu
        // Search
        section
          form.search(method='get', action='#')
            input(type='text', name='query', placeholder='Search')
        // Links
        section
          ul.links
            li
              a(href='#')
                h3 Lorem ipsum
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Feugiat tempus veroeros dolor
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                h3 Dolor sit amet
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Sed vitae justo condimentum
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                h3 Feugiat veroeros
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Phasellus sed ultricies mi congue
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                h3 Etiam sed consequat
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Porta lectus amet ultricies
        // Actions
        section
          ul.actions.vertical
            li
              a.button.big.fit(href='#') Log In
      // Main
      #main
        // Post
        article.post
          header
            .title
              h2
                a(href='#') Magna sed adipiscing
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p Lorem ipsum dolor amet nullam consequat etiam feugiat
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .meta
              time.published(datetime='2015-11-01') November 1, 2015
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a.author(href='#')
                span.name Jane Doe
                img(src='images/avatar.jpg', alt='')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          span.image.featured
            img(src='images/pic01.jpg', alt='')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | Nunc quis dui scelerisque, scelerisque urna ut, dapibus orci. Sed vitae condimentum lectus, ut imperdiet quam. Maecenas in justo ut nulla aliquam sodales vel at ligula. Sed blandit diam odio, sed fringilla lectus molestie sit amet. Praesent eu tortor viverra lorem mattis pulvinar feugiat in turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper tellus sit amet mattis dignissim. Phasellus ut metus ligula. Curabitur nec leo turpis. Ut gravida purus quis erat pretium, sed pellentesque massa elementum. Fusce vestibulum porta augue, at mattis justo. Integer sed sapien fringilla, dapibus risus id, faucibus ante. Pellentesque mattis nunc sit amet tortor pellentesque, non placerat neque viverra.
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          footer
            ul.stats
              li
                a(href='#') General
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.icon.fa-heart(href='#') 28
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.icon.fa-comment(href='#') 128
      // Footer
      section#footer
        ul.icons
          li
            a.fa-twitter(href='#')
              span.label Twitter
          li
            a.fa-facebook(href='#')
              span.label Facebook
          li
            a.fa-instagram(href='#')
              span.label Instagram
          li
            a.fa-rss(href='#')
              span.label RSS
          li
            a.fa-envelope(href='#')
              span.label Email
        p.copyright
          | &copy; Untitled. Design: 
          a(href='http://html5up.net') HTML5 UP
          | . Images: 
          a(href='http://unsplash.com') Unsplash
          | .
    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
